* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
@media only screen and (min-width:360px) {
    .search-input {
        font-size: 24px;
    }
    .submit-button {
        font-size: 24px;
    }
}
.submit-button {
    border: 1px solid black;
    margin-left: 5px;
}
.search-bar {
    height:100px;
    text-align: center;
    background-color: red;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}
.response {
    text-align: center;
}